Repository Seagate/cortx-re, pull requests merged in 2022-12, with the labels that each got.

#1268 CORTX-34384: Change to test Whitesource config parameters
  .whitesource
  whitesource.config
Labels: cla-signed

#1270 CORTX-34390: Increased HA timeout value CORTX_DEPLOY_HA_TIMEOUT to 900s
  jenkins/automation/kubernetes/setup-cortx-cluster.groovy
Labels: cla-signed, cortx

#1266 CORTX-34380: Automate VRA infrastructure provisioning
  jenkins/automation/vra_infra_provisioner.groovy
  solutions/vmware/terraform/README.md
  solutions/vmware/terraform/main.tf
  solutions/vmware/terraform/project_catalog.PNG
  solutions/vmware/terraform/terraform.tfvars
  solutions/vmware/terraform/variable.tf
Labels: cla-signed, vmware
